html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Archive Styling */
.archive-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.left p {
    margin: 4px 0 0 0;
    color: #666;
}

.right {
    white-space: nowrap;
    color: #888;
}

.left p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* End of Archive Styling */



/* Modal Validation Styling */
input.input-validation-error,
textarea.input-validation-error,
select.input-validation-error {
    border-color: #dc3545;
}

input.input-validation-error:focus,
textarea.input-validation-error:focus,
select.input-validation-error:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
/* End of Modal Validation Styling */

.card {
    border: 1px solid transparent !important;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    background-color: #ffffff;
}

.card:hover {
    border: 1px solid #ffb37a !important;
    box-shadow: 0 6px 18px rgba(255, 155, 90, 0.25);
    transform: translateY(-2px);
}

